/* Set common styles for html and body elements */
html, body {
  height: 100%;
  width: 100%;
  font-family: "RedHands", serif;
}

/* Define the RedHands font only once */
@font-face {
    font-family: "RedHands";
    src: url("KGRedHands.ttf");
}

/* Define the CourierNew font only once */
@font-face {
    font-family: "CourierNew";
    src: url("cour.ttf");
}

/* The Modal (background) */
#item-modal {
  display: none; /* Hidden by default */
  background-color: #CDFFE3;
}

/* Modal Content/Box */
div #note-list {
  background-color: #FFFCCD;
  border: 5px solid #888;
  float: left;
  padding: 40px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Set common styles for the left data box */
#left-data-box {
  width: 20%;
  height: 100vh;
  background-color: #ffcde9;
  border: 15px solid #ffcde9;
  float: left;
}

/* Set styles for the Add Item button */
.add-btn {
  font-size: 22px;
  font-family: CourierNew, serif;
  color: #CDFFE3;
  border-bottom: none;
  font-weight: bold;
  display: block;
}

/* Set styles for the left data box buttons */
#left-data-box button {
  background-color: #ffcde9;
  border: none;
  border-bottom: 2px solid #FFFCCD;
  color: #FFFCCD;
  font-size: 30px;
  padding-top: 20px;
  margin: 0 auto;
  display: block;
}

/* Set styles for the left data box images */
#left-data-box img {
  padding-bottom: 4px;
  padding-right: 5px;
  width: 10%;
  height: 12%;
}

/* Set styles for the left data box input boxes */
#left-data-box #add-tab input {
  display: block;
  position: relative;
  width: 100%;
}

/* Set common styles for the right data box */
#right-data-box {
  width: 80%;
  height: 100vh;
  padding: 50px;
  float: right;
}

#right-data-box #item-grid td, #items {
    border: 2px solid purple;
    padding: 20px;
}

#right-data-box #item-grid, #items {
    text-align: center;
    width: 100%;
}

#note-grid td, #notes {
    border: 2px solid purple;
}

#note, #user {
    display: block;
    text-align: center;
    background-color: #FFFCCD;
    border: none;
    margin: 0 auto;
    height: auto;
    width: auto;
}

/* Set styles for the Add Item button */
#note-button p {
  font-size: 12px;
  font-family: CourierNew;
  text-align: center;
  display: block;
}

#note-button {
    margin: 0 auto;
    z-index: 0;
    background: none;
    border: 1px solid black;
}

/* Set styles for the tab paragraphs */
p.tab {
  font-size: 22px;
  font-weight: bold;
  font-family: CourierNew;
  color: #CDFFE3;
  text-align: center;
  margin-top: 15px;
}