html, body {
  height: 100%;
  width: 100%;
  font-family: "RedHands";
}

@font-face {
    font-family: "RedHands";
    src: url("KGRedHands.ttf");
}

@font-face {
    font-family: "CourierNew";
    src: url("cour.ttf");
}

h1 {
  text-align: center;
  color: purple;
}

h2 {
  padding-top: 40px;
  text-align: left;
  color: deeppink;
  text-decoration: underline;
  text-decoration-color: pink;
}

.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.btn:hover {
  background-color: lightgreen; /* Green */
  border: none;
  color: white;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

table{
  width: 70%;
  text-align: center;
}

td,th {
  border-right: 2px dashed pink;
  border-top: 2px dashed pink;
  left: 2px dashed pink;
  text-align: center;
  padding: 5px;
  padding-right: 10px;
}

tr:last-child td {
  border-bottom: 2px dashed pink;
  text-align: center;
  padding: 5px;
  padding-right: 10px;
}

tr :first-child {
  border-left: 2px dashed pink;
  text-align: center;
  padding: 5px;
  padding-right: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  background-color: gray;
}

div ol li {
  float: none;
}